* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38 38 38);
  width: 100%;
  min-height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  min-height: 10vh;
}
nav div {
  display: inline-block;
}
nav a {
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: rgb(248, 101, 16);
  margin: 10px;
  border-radius: 32px;

}
nav a:hover {
  background-color: rgb(238, 230, 230);
  color: black;
}
nav img {
  width: 55px;
}


.seccion1 {
  margin: 12vh;
  width: 80%;
  text-align: center;
  background-image: url("Gym/images/guys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: aliceblue;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;

}
.seccion1 img {
  display: none;
}
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 32px;
  padding: 10px 25px;

}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 20px 0px;
}

.seccion2 {
  display: flex;
  color: aliceblue;
  width: 65%;
  height: 80vh;
  background-image: url("Gym/images/together-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
justify-content: center;
align-items: center;
font-size: xx-large;
padding: 30px;
margin-bottom: 30px;
;
}
.seccion2 img {
  display: none;
}
.contactoprincipal{
flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titulocolor{
  color: chocolate;
}
.divabout {
  padding: 20px;
display: flex;
gap: 15px;
}
.divabout p {
  width: 100%;
  text-align: left;
}
.divabout img {
  width: 100%;
  height: 300px;
  margin-right: 130px;
  object-fit: cover;
  border-radius: 10px;
}
.divabout div {
  display: inline-block;
  margin: 10px 0px;
  width: 350px;
  background-color: rgb(213 213 213);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}
.divabout p {
  padding: 75px 10px;
}
.divcontact {
  display: flex;
  flex-direction: column;
}
.contacto {
  margin: 25px;
  text-align: center;
  background-image: url("Gym/images/gym-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  object-fit: cover;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacto img {
  display: none;
  margin-right: 25px;
  
}
.linksdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.datos {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  background-color: rgb(213 213 213) ;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  padding: 0px 25px;
}
.datos p {
  margin: 25px;
}
.contacto img {
  width: 800px;
  height: 600px;
}
.texto {
  display: flex;
  justify-content: center;
  margin-top: 380px;
  margin-right: 80x;
  width: 266px;
  font-size: larger;
}
.tabla {
  width: 60rem;
  display: flex;
  justify-content: center;
  background-color: rgb(213 213 213);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}
.tabla td,.tabla th{
  line-height: 3;
  background-color: rgb(213 213 213);
  padding: 10px;
  margin: 10px;
}
#mainbeneficios {
  display: flex;
  justify-content: center;
}
.beneficios {
  padding: 20px;
  margin-bottom: 25px;
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(226, 233, 232);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}
.beneficios img {
  height: 200px;
  width: 200px;
  margin-right: 80px;
  object-fit: cover;
  
}
.divlistas {
  display: flex;
  flex-direction: column;
  width: 320px;
  
  

}



